<div class="d-flex justify-content-center">
	<div class="container-fluid">
		<div class="d-flex justify-content-center mt-5 mb-4">
			<h1 class="ms-3" style="font-family: 'Poppins', sans-serif; font-weight: 600; color: #2F80ED">
				Camerapps
			</h1>
		</div>

		<div class="d-flex justify-content-center mb-4">
			<a href="https://opencollective.com/osscameroon/donate" target="_blank">
  	  	  	  <img src="https://opencollective.com/webpack/donate/button@2x.png?color=white" width=200 />
			</a>
		</div>
		{{#if (isLink link "home") }}
			{{>home}}
		{{/if}}
	</div>
</div>
<div class="container d-flex justify-content-center mt-5">
	<a href="https://github.com/osscameroon/camerapps.com" target="_blank" style="color: #0c344b"><i class="fa fa-github" style="font-size: 3rem"></i></a>
</div>
<div class="container d-flex justify-content-center mt-5">
	<p style="text-align: center">© {{currentYear}} OSS Cameroon, All rights reserved.</p>
</div>
