<div class="d-flex justify-content-center">
	<div class="container-fluid">
		<div class="d-flex justify-content-center mt-5 mb-4">
			<h1 class="ms-3" style="font-family: 'Poppins', sans-serif; font-weight: 600; color: #2F80ED">
				Camerapps
			</h1>
		</div>

		<div class="d-flex justify-content-center mb-5">
			<a href="https://opencollective.com/osscameroon/donate" target="_blank">
  	  	  	  <img src="https://opencollective.com/webpack/donate/button@2x.png?color=white" width=200 />
			</a>
		</div>

		<div class="row d-flex justify-content-center text-secondary">
			<p style="text-align: center">camerapps lists useful applications, whatsapp, facebook, telegram groups or channel for Cameroonians.</p>
		</div>

		{{#if (isLink link "home") }}
            {{>search-form}}
			{{>app-list}}
		{{/if}}
	</div>
</div>

<div class="d-flex justify-content-center mt-5 mb-2 text-secondary">
	<p style="text-align: center">To add a new application or community submit a pull request <a href="https://github.com/osscameroon/camerapps.com/issues/1" target="_blank">here</a></p>
</div>

<div class="container d-flex justify-content-center mt-3">
	<a href="https://github.com/osscameroon/camerapps.com" target="_blank" style="color: #0c344b"><i class="fa fa-github" style="font-size: 3rem"></i></a>
</div>
<div class="container d-flex justify-content-center mt-5">
	<p style="text-align: center">© {{currentYear}} OSS Cameroon, All rights reserved.</p>
</div>
