<nav aria-label="Page navigation example" class="d-flex justify-content-center">
    <ul class="pagination" id="paginate"></ul>
</nav>
<!-- The js part -->
<script src="/scripts/pagination.js"></script>
